.lead__title{
    font-family: 'Inter-900';
    font-size: 96px;
    line-height: 100px;
    color: white;
    width: 720px;
    margin: 0 auto 32px auto;
    text-align: center;
    
}
@media screen and (max-width:767px){

    .lead__title{
        width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}