.main-info__title{
    width: 460px;
    font-family: 'Inter-900';
    font-size: 72px;
    line-height: 1.06;
    color: white;
    
}
@media screen and (max-width:1279px){

    .main-info__title{
        width: 440px;
    }
}
@media screen and (max-width:1023px){

    .main-info__title{
        font-size: 42px;
        line-height: 1.1;
        width: 340px;
    }
}
@media screen and (max-width:767px){

    .main-info__title{
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 1.09;
    }
}