.cover__background{
    background-image: url(../../../images/__background.png);
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50% 50%; 
}