@import url(./__image/description__image.css);
@import url(./__table/description__table.css);
.place__description{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:767px){

    .place__description{
        flex-wrap: wrap;
    }
}